.card {
    border-radius: 10px;
    overflow: hidden;
    border : 3px solid;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

.card .title{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}


.card .content {
    background-color: #fff;
    color: #000;
    padding: 20px;
    flex: 1;
}